<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441000393214-dqjq65118lfj7s0phgtg18r05jh2q9u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441000393214-dqjq65118lfj7s0phgtg18r05jh2q9u4</string>
	<key>API_KEY</key>
	<string>AIzaSyDeYzPV-tGw2OGzzIVFmXuL515_FHkBMiA</string>
	<key>GCM_SENDER_ID</key>
	<string>441000393214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.offlineprogrammer.timetracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-77c9a</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-77c9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441000393214:ios:b070eb32a365a56ca368af</string>
</dict>
</plist>